body  
{
    
    font-family : sans-serif;
    background-color:#FFF; /*White */
    color:#000; /* Black */
    
    
     }
:link:hover, :visited:hover, img.highlight:hover 
{ 
   
    text-decoration : none;  
    color:#4B1391; /*Purple*/
    background-color:#DFE36E; /*Light Yellow */
}

td.navbar 
{ 
    /* Moccasin: FFE4B5 */
    background-color: #040204;
    width : 20% ; 
    border-color : #FFD134;
    border-width : thick;
    border-style : double;
    padding-top : 0.5em;
    padding-bottom: 0.5em;
    padding-left : 0.2em;
}
td.navbar a 
{
   color : #FFD134; 
    }
td.navbar h2 { color: black ; border : none ; font-size : large ; margin-left : 0.5em ; background-color : transparent }
p.desc { margin-left : 3em }
/* ul.m == ul.main (of NavMenu) */
ul.navbarmain { padding-left : 1em ; margin-left : 1em ; font-size : 90%; color:#FFF;}
/* ul.n == ul.nested (of NavMenu) */
ul.navbarnested { padding-left : 0em ; margin-left : 2em }
h3.newsitem { text-indent: 3em }
p.newsitem { margin-left : 6em }
div.indent { margin-left : 3em }
p.indent { margin-left : 3em  }
div.rightalign { text-align : right }
/*
    Make sure the links inside the navigation bar are highlited
    with a different colour. That's CSS 2.
    http://www.zvon.org/xxl/CSS2Tutorial/Examples/example3.html
*/
a 
{
    text-decoration:underline;
    color:#A28C41; /*Gray-Yellow */
    font-weight:bold;
    
    
    }
td.main  
{
    padding-left : 1em ;
    margin-left : 1em ;
    background-image: url('titlebg.png');
    background-repeat: repeat-x;
    color:#000;
    
    }

#main 
{
    color:#000; /*Black */
    
    
    }
h2.plain
{ 
    color : black ; 
    border : none ; 
    font-family : serif; 
    background: transparent;
}
    
/* Make sure it is not underlined when inside a boxed heading */
h2 a,h3 a
{
    text-decoration : none;
}

h1 a, h2 a, h3 a 
{
    font-family : sans-serif;
}

h1 
{
  
  text-align:center;
  padding:5px 0 30px 0px;
  font-size: x-large; 
    
    
    }
.TuxClass 
{
    padding:0;
    margin:0 0 0 10px;
    float:right;
    
    
    }
#advanced  
{

    font-size:large;
    font-weight:bold;
    border: solid 5px #89877E;
    text-align:center;
    background-color:Black;
   padding:3px;
      
    
    }
#advanced a
{
     color:#FFD134;
     text-align:center;
    }  

tt { color : #8A2BE2 /* The BlueViolet Color */ }
.news
{
    /* LightYellow */
    background-color : #FFFFE0;
    float : right;
    width : 20%;
    margin-left : 0.5em;
    margin-bottom : 1em;
    border-color : black;
    border-width : thick;
    border-style : double;
}
.ul
{
    font-style : normal;
    text-decoration: underline; 
}
.cen
{
    text-align: center;
}
.c
{
    text-align: center;
}
.banner
{
    text-align: center;
}
.lect_tab
{
    direction: ltr;
}
.lect_tab td
{
    vertical-align: top;
}
.lect_tab p
{
    margin-top: 0;
    padding-top: 0;
}
